*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(128, 128, 128, 0.329);
}
.cards{
  width: 100%;
  display: flow-root;
  padding: 10px;
  margin: 0 auto;
}
.cards:nth-child(1){
  padding-top: 30px;
}
.cards:nth-child(2){
  padding-bottom: 30px;
}
.card{
  width: 23%;
  padding: 25px;
  float: left;
  margin: 12px;
  border-radius: 10px;
  box-shadow: 4px 4px 6px  rgb(53, 49, 49);
  background: linear-gradient(rgba(53, 116, 124, 0.782), rgb(33, 108, 118));
}
.card h3{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.card p{
  font-size: 1.1rem;
  font-weight: 500;
}